/* Profile */

.profile {
	background: orange;
}

.calander{
	background: #172240;
	margin: 10px;
}

.ui th{
	font-family: 'Lora', serif;
	font-size: 32px;
	color: #68E0FF;
	background: #172240;
	padding: 5px;
	text-indent: 80px;
}

.ui td{
	font-family: 'Roboto', sans-serif;
	color: #675B50;
	padding: 5px;
}

.ui {
	text-align: center;
}

.ui tr{
	font-size: 24px;
}

.td2 {
	font-size: 14px;
	text-indent: 10px;
}
.todotable {
	margin: 10px;
	background: #4EA8BF;;
}
