/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/*Style Tile for Nia Tauvela*/

.color-1 {
	background: rgb(179, 33, 0);
}

.color-2 {
	background: rgb(32, 32, 32);
}

.color-3 {
	background: rgb(255, 213, 104);
}

.pattern-1 {
	background: url("../img/eight-horns.png");
	background-size: 75px;
}

.pattern-2 {
	background: url("../img/symphony.png");
	background-size: 100px;

}

.pattern-3 {
	background: url("../img/wild-flowers.png");
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}